/project.latex/nbproject/private/
/project.latex/build/
/project.latex/dist/
/project.latex.balloon/nbproject/private/
/project.latex.balloon/build/
/project.latex.balloon/dist/
/project.latex.ground/nbproject/private/
/project.latex.ground/build/
/ProjectLatexWebService/nbproject/private/
/ProjectLatexWebService/dist/
/ProjectLatexWebService/build/